<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insert answer</title>
</head>
<body>
<h1>Insert your answer for Question :   <span th:text ="${lastQuestion}">question</span></h1>
<br>
<br>

<form action="#" method="POST" th:action="@{/insert-proposed-answer}"
      th:object="${lastQuestion}">
    <input type="text" th:attr="name='answerText'" placeholder="insert your answer"/>
    <input type="hidden" th:value="${lastQuestion}" th:attr="name='questionValue'" >
    <input type="submit" value="Add answer" />
</form>

<br>
<form th:action="@{/display-question-card}" th:object="${lastQuestion}" method="post">
    <input type="hidden" th:value="${lastQuestion}" th:attr="name='question'" >
    <button type="submit">Back to Question </button>
</form>


<div th:replace="footer::footer"></div>
</body>
</html>
